.purchase{
    margin-top: 80px;
}
.purchase-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purchase-text-box{
    width: 350px;
}
.purchase-title{
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 60px;
}
.purchase-text{
    border-left: 3px solid #999999;
    color: #999999;
    padding: 5px 30px;
}
.purchase-image{
    border-radius: 20px;
}
.purchase-btn{
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(231, 75, 106);
    margin-top: 40px;
    padding: 14px 20px;
    border-radius: 5px;
}
.purchase-btn:hover{
    background-color: crimson;
}